.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }
  .no-bullets {
    list-style-type: none;
    /* Add other styling options here if needed, like padding */
    padding-left: 0;  /* Remove default indentation for list items */
  }

  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(45, 0, 128);
  }
  